body {
  background-color: silver;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #f0c929;
  padding: 10px;
  text-align: center;
}

footer {

}

h1 {
  color: steelblue;
  margin-left: 20px;
  text-align: center;
}

.containerBox {
  display: flex;  
  /*border: 2px solid black; */
}

.teamBoxL, .teamBoxR, .middleBox {
  margin: 15px;
  padding: 40px;
  text-align: center;
}

.teamBoxL {
  flex: 2;
  border: 5px solid #0c8c74;
  background-color: #b9f9ed;
}

.teamBoxR {
  flex: 2;
  border: 5px solid #bd3944;
  background-color: #edc4c8;
}

.middleBox {
  flex: 1;
  border: 5px solid #f0c929;
  background-color: #faedb7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-group {
  margin-bottom: 10px;
}

.calcButton {
  background-color: #f0c929; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
}

#outputAreaL, #outputAreaR {
  margin-top: 10px; 
  font-size: 1.2em;
  font-weight: bold;
}