h1 {
  color: steelblue;
  margin-left: 20px;
  text-align: center;
}

.container {
  display: flex;
  /*border: 2px solid black; */
}

.teamBoxL, .teamBoxR, .middleBox {
  margin: 15px;
  padding: 40px;
  text-align: center;
}

.teamBoxL {
  flex: 2;
  border: 5px solid #0c8c74;
  background-color: #b9f9ed;
}

.teamBoxR {
  flex: 2;
  border: 5px solid #bd3944;
  background-color: #edc4c8;
}

.middleBox {
  flex: 1;
  border: 5px solid #f0c929;
}

.select-group {
  margin-bottom: 10px;
}